Repository opengeospatial/ogcapi-environmental-data-retrieval, pull requests merged in 2024-02, with the labels that each got.

#509 Update POST path for paths/queries/area.yaml to remove array character '-' from request body definition
  core/standard/openapi/paths/queries/area.yaml
Labels: bug, API EDR V1.2

#525 Corrections to instance query documentation
  .gitignore
  core/standard/openapi/schemas/collections/collection.yaml
  core/standard/openapi/schemas/collections/instancesDataQuery.yaml
  core/standard/openapi/schemas/collections/instancesLink.yaml
  core/standard/requirements/edr/query_type/instance.adoc
  deployments.md
Labels: API EDR V1.1, API EDR V1.2

#487 Fix inconsistencies in Unit documentation
  core/standard/sections/annex_collection_response.adoc
Labels: API EDR V1.2
